name: Stock Tracker

on:
    schedule:
        - cron: '0 14 * * 1-5'
    workflow_dispatch:
        
jobs:
    check_stock:
        runs-on: ubuntu-latest
        
        steps:
          - name: Checkout code
            uses: actions/checkout@v3
            
          - name: Set up Python
            uses: actions/setup-python@v4
            with:
                python-version: '3.10'
            
          - name: Install dependencies
            run: |
                pip install requests
                
          - name: run stock tracker
            env:
                STOCK_API_KEY: ${{ secrets.STOCK_API_KEY }}
                NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
                TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
                TELEGRAM_CHAT_ID: ${{ secrets.CHAT_ID }}
            run: python main.py
